*{
    margin: 0;
}
:root{
--Pink: hsl(322, 100%, 66%);
--Pink: hsl(321, 100%, 78%);
--LightRed: hsl(0, 100%, 63%);
--VeryDarkCyan: hsl(192, 100%, 9%);
--VeryPaleBlue: hsl(207, 100%, 98%);
}
@font-face {
    font-family: 'poppins';
    src: url(/fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: 'opensans';
    src: url(/fonts/OpenSans[wdth\,wght].ttf);
}
main{
    width: 100%;
    height: fit-content;
}
section{
    width: 100%;
    border:2px solid red;
}
@media only screen and (min-width:320px){
    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 8px;
        padding-bottom: 8px;
        font-family: 'poppins';
        font-weight: 400;
    }
    header .logo img{
        height: fit-content;
        width: 60%;
        border:2px solid yellow;
    }
    header .try{
        text-decoration: none;
        color: var(--Pink);
        border: 1px solid var(--Pink);
        margin-left: -15px;
        padding: 5px;
        border-radius: 100vmax;
        width: 30%;
        text-align: center;
    }
    section{
        font-family: 'opensans';
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sec1{
        flex-direction: column;
        text-align: center;
    }
}